:root {
  --color-primary: #343353;
  --color-secondary: #ff4c60;
  --color-terciary: #ffd15c;
  --color-blue: #6c6ce5;
}


body{
  font-family: 'Oswald', sans-serif;
  color: #f9f9ff;
  margin: 0;



}

h1{  
  font-size: 28px;
  padding-top: 60px;
  padding-bottom: 103px;
}


/* ESTILOS GENERALES */
* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /*Con esta propiedas ocultamos el contenido que se va fuera del viewport */


}

/* NAVBAR */
.navbar-container__mobile {
  display: none;
}

.navbar-desktop{
  display: flex;
  flex-direction: column;  

}


.navbar-container__desktop {  
  padding: 50px;
  min-width: 290px;
  max-width: 290px;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  background-color: var(--color-primary);
  line-height: 32px;  

}

.navbar__items{
  font-size: 18px;
  text-decoration: none;
  color: #f9f9ff;
  margin : 8px 0; 
}

.navbar__items:hover{
  color: #FDE47F;
}

.full-container {
  overflow-y: scroll; /*Con esta propiedas logramos que el eje y de nuestra pagina sea scrolleable */
  scroll-behavior: smooth; /*Con esta propiedas logramos que las anclas de nuestra pagina se vean "suavizadas"*/
  width: 100%;
  height: 100%;
  background-color: #f9f9ff;
}

.icons-navbar_icons{
  width: 18px;
  height: 18px;  
  margin-right: 10px;
}

/* BANNER */
.banner-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  
  
}

.section__home__avatar{
  width: 200px;
  height: 200px;



}

.section__home__container{ 
  display: flex;
  flex-direction: column; 
  align-items: center;  
  justify-content: center;
  position: relative;
}

.section__home__redes{
  display: flex;
}

.section__home__redes__images{
  width: 30px;
  height: 30px; 
  margin: 20px;
}

.background-image {
  height: 100%;
  width: 100%;
  background-image: url("../imagenes/fondo.svg");
  position: absolute;
}

.banner-container__scroll {  
  position: absolute;
  bottom: 26px;
  text-decoration: none;
  font-size: 25px;
  color: #fafafa;
}

.banner-container__scroll:hover{
  color: #FDE47F;

}

.section-scroll{
  width: 25px;
  height: 50px;
  margin-right: 10px;

}

.section__home__button__contactame{
  height: 40px;
  width: 150px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-secondary);
  border: none;  
}
.section__home__button__text{
  font-size: 15px;
  text-decoration: none;
  color: white;
}

/* SKILS */
.aboutme__container{  
  color:  #343353;
  height: 100%;  
  padding: 60px 20px;
  margin: 0 70px;
  box-sizing: border-box;
}

.aboutme__title{

  font-size: 25px;
}

.container__barra_skils{
  width: 100%;  
}

.aboutme__container__skills{    
  color:  #343353;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutme__avatar{
  width: 200px;
  height: 200px;
}

.aboutme__container__text{
  display: flex;
  flex-direction: column;  
  align-items: center;
  width: 60%;
  padding: 0 7px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.aboutme__container__text--span{
  margin-bottom: 18px;
}
.aboutme__container_card{
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(69, 67, 96, 0.1);  
  line-height: 35px;
  padding: 15px 0 0 15px;
}

.aboutme__container_card:hover{
  box-shadow: 0px 15px 20px 0px rgba(69, 67, 96, 0.1);  
}
.aboutme__barra__skils{
  position: relative;
  
}
.aboutme__skils{
  margin-top: 0px;
  margin-bottom: 10px;


}
.aboutme__barra__progreso__html{
  height: 7px;
  width: 70%;
  background-color: #6c6ce5;
  position: relative;
  border-radius: 10px;  

}
.aboutme__barra__progreso__html--back{
  height: 7px;
  background-color: #f1f1f1;
  width: 90%;
  position: absolute;
  border-radius: 10px;  
  
}
.aboutme__barra__progreso__css{
  height: 7px;
  width: 70%;
  background-color: #ffd15c;
  position: relative;
  border-radius: 10px;  
}
.aboutme__barra__progreso__css--back{
  height: 7px;
  background-color: #f1f1f1;
  width: 90%;
  position: absolute;
  border-radius: 10px;  
}
.aboutme__barra__progreso__sem{
  height: 7px;
  width: 60%;
  background-color: #f97b8b;
  position: relative;
  border-radius: 10px;  
}
.aboutme__barra__progreso__sem--back{
  height: 7px;
  background-color: #f1f1f1;
  width: 90%;
  position: absolute;
  border-radius: 10px;  
}
.aboutme__container_card--mobile{
  display: none;
}




/*SERVICES*/

.title-services{
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 25px;
}
.container__servicios{
  display: flex;
  flex-direction: row;  

}
.container__servicios--html{
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    padding: 30px;    
    margin: 15px;
    border-radius: 10px;
    background-color: var(--color-blue);
    box-shadow: 0px 5px 20px 0px var(--color-blue);
    color: #f9f9ff;
}
.container__servicios--html:hover{
  box-shadow: 0px 10px 15px 5px #6c6ce5;
}
.container__servicios--css{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;    
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px var(--color-terciary);
    background-color: var(--color-terciary);
    color: #5e5c7f;    
}
.container__servicios--css:hover{
  box-shadow: 0px 10px 15px 5px #ffd15c;
}

.container__servicios--uxui{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;    
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px #f97b8b;
    background-color: #f97b8b;
    color: #f9f9ff;    
}
.container__servicios--uxui:hover{
  box-shadow: 0px 10px 15px 5px #f97b8b;
}

/*EXPERIENCE*/
.title-content{
  color: #343353;
  font-size: 25px;
}
.experience-container{
  height: 800px;
  margin: 0 70px;
  color: #343353;
}
.experience-container__topics{
  display: flex;
  flex-direction: row ;


}
.fas{
  color: #ff4c60;
  
}

.experience-container__topics__card{
     box-shadow: 0px 10px 25px 0px rgba(69, 67, 96, 0.1);
     margin-right: 30px;
     border-radius: 25px;
     padding: 30px;          
}
.experience-container__topics__card__data {  
  padding: 15px 0 25px 50px;
  border-left: 1px solid var(--color-secondary);
  position: relative;  
  margin-top: -16px;
}
.experience-container__topics__card__data__time{
  color: #8b88b1;
}

.title__experience{
  margin-top: 10px;
}

.experience-container__topics__card__data > i {  
  position: absolute;
  left: -8px;
  top: -5px;
}

/* WORKS */
.works-container{
  height: 850px;
  margin: 0 70px;
}

.works-container--fullpage{
  height: 100vh;
  margin: 0 70px;
}

.works__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.works-container__topics__work__imagenes{
  width: 250px;
  height: 250px;      
}
.works-container__card__job--image{
    width: 250px;
    height: 250px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 20px;
}
.works-container__card__job--text{  
    position: absolute;    
    width: 250px;
    height: 250px;
    top: 0;
    right: 0;
    opacity: 0;
    display: flex;
    padding: 50px 0px 0px 30px;
    box-sizing: border-box;
    font-size: 25px;    
}
.works-container__card__job--image:hover > .works-container__card__job--text{
  opacity: 0.9;
  background-color: #6c6ce5;  
  
}
.works-container__contacto{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px; 
    
}
.works-container__backtohome{
  font-size: 25px;
  color: #343353;
  text-decoration: none;

}
.works-container__backtohome__icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 15px;

}

/* CONTACTME */
.contact__form{
  margin: 0 70px;
  color: #343353;
  margin-bottom: 20px;
}
.title__contact{
  font-size: 25px;  
}
.contact__form__container{
  display: flex;
  flex-direction: row;
}
.contact__form__container__text{
  width: 50%;
}
.contact__form__container__text--tittle{
  font-size: 25px;
}

.contact__form__container__form{
  width: 50%;
}
.contact__form__container__inputname{
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  font-size: 15px;
  margin: 7px;
  padding-left: 6px;
}
.contact__form__container__inputemail{
 width: 200px;
  height: 40px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  font-size: 15px;
  margin: 10px;
  padding-left: 6px; 
}
.contact__form__container__textarea{
  width: 420px;
  height: 100px;  
  border-radius: 18px;
  border: none;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  font-size: 15px;
  margin: 10px;
  padding-left: 6px;  
  padding-top: 6px;
  margin-bottom: 15px;
}


/* FOOTER */

.footer__container{
  width: 100%;
  height: 50px;
  background-color: #343353;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  padding: 10px;
}
.footer__container__redes__icons{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .container {
    max-width: initial;    
  }

  .navbar-container__desktop {
    display: none;
  }

  .navbar-container__mobile {
    display: block;
    background-color: var(--color-primary);
  }

  .navbar-input,
  .navbar-close {
    display: none;
  }
  
  .navbar-input:checked ~ .navbar-close {
    display: block;
  }
  
  .navbar-input:checked ~ .navbar-open {
    display: none;
  }

  .navbar-contet {
    display: none;
    text-decoration: none;
  }
  
  .navbar-input:checked ~ .navbar-contet {
    display: flex;
  }

 .navbar__mobile__items{
  font-size: 18px;
  text-decoration: none;
  color: #f9f9ff;
  margin : 8px 15px; 
  }
  .fas{
  color: #ffd15c;
  margin: 15px;
  font-size: 25px;
}

.banner-container__scroll{
  display: none;
}

/*About Me*/
.aboutme__container{
  height: 2100px;
  margin: 0 50px;
}
.aboutme__container__avatar{
  margin-bottom: 15px;
}
.aboutme__container__skills{    
  
  flex-direction: column;  
}
.aboutme__container_card{
  display: none;
}
.aboutme__container_card--mobile{
  width: 100%;     
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(69, 67, 96, 0.1);  
  line-height: 35px;  
  height: 430px;  
  display: flex;
  flex-direction: column;  
  margin: 0 0 15px 0;
  padding: 20px;
}

.aboutme__container_card--mobile:hover{
  box-shadow: 0px 15px 20px 0px rgba(69, 67, 96, 0.1);  
}

.aboutme__container__text{
  text-align: center;
  width: 100%;
  padding: 0;
}
.container__barra_skils{
  text-align: center;
}
.container__button__contactame_mobile{
  align-self: center;
  margin-top: 20px;
}


/* Servicios*/

.container__servicios{
  flex-direction: column;
}

/*Experiencia*/
.experience-container{
  height: 1500px;
  margin: 0 50px;
}
.experience-container__topics{
  flex-direction: column;
}
.experience-container__topics__card{
  margin-right: 0;
}
.experience-container__topics__card__data > .fas{
  color: #ff4c60;
  margin-top: 0;
  left: -30px;
  top: -7px;  
}
.title-services{
  margin-top: 50px;
}
/*Mis Trabajos*/
.works-container{
  height: 1700px;
  margin: 0 30px 50px 30px;
  margin-bottom: 50px;
}

/*Formulario*/
.contact__form{  
  height: 600px;
}
.contact__form__container{
  flex-direction: column;
  align-items: center;
}
.contact__form__container__text{
  width: 100%;
}

.contact__form__container__form{
  width: 100%;
}
.contact__form__container__inputname{
  width: 100%;
}
.contact__form__container__inputemail{
  width: 100%;
}
.contact__form__container__textarea{
  width: 100%;
}
.footer__container{
  margin-top: 25px;
}

/*works html*/
.works-container--fullpage{
  height: 2500px;

}
.works-container__card__job--image{
  margin-bottom: 15px;
}


}
